version: "3.9"

services:
  business:
    build:
      context: .
      dockerfile: Dockerfile-tier2
    container_name: business
    # restart: unless-stopped
    volumes:
      - ./tier3-database:/app/tier3-database
    networks:
      - message-broker-net
    environment:
      - RABBITMQ_HOST=rabbitmq
  
  presentation:
    build:
      context: .
      dockerfile: Dockerfile-tier1
    container_name: presentation
    depends_on:
      - business
    ports:
      - "5000:5000"
    networks:
      - message-broker-net
    environment:
      - BUSINESS_SERVICE_URL=http://business:5001

  worker:
    build:
      context: .
      dockerfile: Dockerfile-worker
    container_name: worker
    networks:
      - message-broker-net
    environment:
      - RABBITMQ_HOST=rabbitmq
    volumes:
      - ./tier3-database:/app/tier3-database

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq-c3
    # restart: unless-stopped
    ports:
      - "5672:5672"
      - "15672:15672"
    
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
    networks:
      - message-broker-net
    
  
volumes:
  rabbitmq-data:
networks:
  message-broker-net:
    driver: bridge
