version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app
    ports:
      - "5000:5000"
    volumes:
      - ./database:/app/database
    networks:
      - monolith-net

networks:
  monolith-net:
    driver: bridge