version: "3.9"

services:
  gateway:
    build:
      context: .
      dockerfile: Dockerfile.gateway
    container_name: gateway
    ports:
      - "5000:5000"
    networks:
      - microservices-net

  user-service:
    build:
      context: .
      dockerfile: Dockerfile.user
    container_name: user-service
    ports:
      - "5001:5001"
    networks:
      - microservices-net
    volumes:
      - ./services/user-service/database:/app/database
    depends_on:
      - gateway
networks:
  microservices-net:
    driver: bridge